<div class="content container">
  <div class="pt-5 text-center ">
    <h1 class="display-3">Dos nossos clientes</h1>
  </div>
  <div class="row cards " >
    <div class=" col-md-4 col-sm-4 py-4 card ">
      <img src="assets/aspas2.png" alt="">
      <p>Os depoimentos são citações curtas de pessoas que amam sua marca. É uma ótima maneira de convencer os clientes a experimentar seus serviços.</p>
      <h4>Casper Berkley, presidente da Fib & Joe</h4>
    </div>
    <div class=" col-md-4 col-sm-4 py-4 card">
      <img src="assets/aspas2.png" alt="">
      <p>Testimonials are short quotes from people who love your brand. It's a great way to convince customers to try your services.</p>
      <h4>Ingrid Correa, CEO of Wrya Inc.</h4>
    </div>
    <div class="col-md-4 col-sm-4 py-4 card">
      <img src="assets/aspas2.png" alt="">
      <p>Os depoimentos são citações curtas de pessoas que amam sua marca. É uma ótima maneira de convencer os clientes a experimentar seus serviços.</p>
      <h4>Lillian Pratt, COO da Hondre Inc.</h4>
    </div>
  </div>
</div>
