<div class="content">
  <div class="content__cont">
    <h2>Sobre nós</h2>
    <p>Descubra o requinte da marcenaria personalizada! Na nossa oficina,
      transformamos sonhos em móveis feitos sob medida, unindo tradição artesanal e inovação.
      Cada peça conta uma história única, moldada pela qualidade das melhores madeiras e pela paixão dos
      nossos marceneiros.
      Deixe-nos criar o móvel dos seus sonhos. Sua casa merece o toque
      exclusivo da nossa marcenaria. Entre em contato e transforme espaços com elegância e estilo incomparáveis!</p>
  </div>
</div>
