<div  class="content container">
  <div class=" content__text text-center w-100 py-5" >
    <h2 class="display-4 py-5 ">Nossos <span>Serviços</span></h2>
    <div class="content__text__cards row" >
      <div class="col-md-4 col-sm-4 py-5 content__text__cards__card">
        <img src="assets/SESSION-TWO.png " alt="" width="35%">
        <h2>Móveis Planejados</h2>
        <p class="h6 pt-2">Projeto, Produção e Montagem. Garantia e suporte local permanente.</p>
      </div>
      <div class="col-md-4 col-sm-4 py-4 content__text__cards__card">
        <img src="assets/session-two2.png" alt="" width="35%">
        <h2>Reforma de Móveis</h2>
        <p class="h6 pt-2">Projeto, Produção e Montagem. Garantia e suporte local permanente..</p>
      </div>
      <div class="col-md-4 col-sm-4 py-4 content__text__cards__card">
        <img src="assets/session-two3.png " alt="" width="35%">
        <h2>Ajustes Simples</h2>
        <p class="h6 pt-2">Projeto, Produção e Montagem. Garantia e suporte local permanente.</p>
      </div>
    </div>
  </div>
</div>
