<div class="content container-fluid">
  <div class="row  h-100">
    <div class="col-md-5 col-sm-5 py-6">
      <img src="assets/moveis.jpg" alt="" class="w-100">
    </div>
    <div class="col-md-7 col-sm-7 py-6 d-flex justify-content-center flex-column content__text">
      <h1 class="display-2">Do Projeto à Execução</h1>
      <p class="display-6">Nosso objetivo é garantir o melhor custo benefício do mercado
        Atendemos de maneira rápida e objetiva, elaborando e executando o seu projeto.</p>
    </div>
  </div>
</div>
